wheel==0.46.2
setuptools==78.1.1
twine==6.0.1
build==1.2.2.post1
html-testRunner~=1.2.1
buildlackey==1.7.0

mypy==1.14.0

codeallybasic==1.8.1
codeallyadvanced==1.3.3

fpdf2==2.8.2
Pillow==11.0.0
untangle==1.2.1

# pdftotext~=2.2.2  # Install manually for unit tests