wheel==0.42.0
setuptools==69.0.3
twine==4.0.2
build==1.0.3
html-testRunner~=1.2.1
buildlackey==1.6.3

mypy==1.8.0

types-setuptools==69.0.0.20240115

codeallybasic==1.1.0
codeallyadvanced==1.1.0

fpdf2==2.7.5
Pillow==10.0.1
untangle==1.2.1

# pdftotext~=2.2.2  # Install manually for unit tests